body{
    margin: 0;
    /* background-color: antiquewhite; */
}
#menu-bar{
text-align: center;
background-color: cadetblue;
cursor: pointer;
  
}
#menu-bar li{
    display: inline-block;
    padding: 15px 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
h1{
   font-family: 'Times New Roman', Times, serif;
   text-transform: uppercase;
   /* background-color: lightcoral; */
    margin-top: 10px; 
 margin-bottom: 10px; 
}

video {
    width: 100%;
    height: auto;
  }
  .btn{
    width: 25px;
    height: 25px;
    display: inline-block;
    border: solid;
    border-radius: 50%;
    cursor: pointer;

}
#orange{
    background-color: orange;
}
#pink{
    background-color: pink;
}
#yellow{
    background-color: yellow;
}
#white{
    background-color: white;
}
#black{
    background-color: black;
}